body {
    margin: 0;
    background-color: seashell;
}

header, footer {
    margin: 0;
    padding: 20px 0px;
    text-align: center;
    background-color: lightseagreen;
    color: seashell;
}

h1 {
    margin: 0;
}

h2 {
    /* text-align: center; */
    color: lightseagreen;
    /* float: left; */
    display: inline-block;
}

a {
    text-decoration: none;
    color: teal;
}

a:visited {
    color: rgb(0, 70, 128);
}

a:hover {
    color: coral;
}

.conference {
    max-width: 1024px;
    margin: 30px auto;
}

.conference .conferenceHeader {
    display: flex;
    justify-content: center; /* align horizontal */
    align-items: center;
}

.conference .conferenceHeader .logo {
    padding-right: 20px;
}

.talk {
    margin-bottom: 15px;
    padding: 0px 10px;
    clear: left;
}

.talk div {
    margin-bottom: 5px;
}

.talk .title {
    font-size: 130%;
}

footer div {
    margin: 10px auto;
    max-width: 1024px;
}

footer a {
     rgb(0, 70, 128);
}

.cursive {
    font-style: oblique;
}